body {
  margin-left: 5%;
  margin-right: 5%;
}

.inputText {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.resultsDiv {
  display: flex;
  align-items: center;
  border: 1px solid #d0d0d0;
  padding: 5px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.vid-container {
  margin-left: auto;
  margin-right: auto;
}

.frame-container {
  width: 100%;
  height: 900px;
}
